@use "../../sass/mixins.scss";
.product-list-item {
	@include mixins.flex-row;
	figure {
		@include mixins.flex-column;

		.product-name {
			@include mixins.product-label;
			font-size: mixins.$font-normal;
		}
		.image-container {
			@include mixins.flex-column;

			.product-image {
				@include mixins.fade-in;
				width: 75%;
				margin: 1vh 1vw;
				border-radius: 5px;
				box-shadow: 2px 2px 1px 1px;
				transition: ease 0.3s;
			}
			.product-image:hover {
				cursor: pointer;
				transform: scale(1.05);
				transition: ease 0.3s;
			}
		}
	}
}
.item-description {
	@include mixins.flex-row;
	@include mixins.title-font;
	font-size: mixins.$font-large;
	text-align: center;
	padding: 1rem;
	border-radius: 5px;
	background: rgba($color: black, $alpha: 0.9);
	h3 {
		padding: 1rem;
	}
	ul {
		width: 40%;
	}
}
