@use "../../sass/mixins.scss";
.product-list-item {
	@include mixins.flex-row;
	figure {
		@include mixins.flex-column;

		.product-name {
			@include mixins.product-label;
			font-size: mixins.$font-normal;
		}
		.image-container {
			@include mixins.flex-column;

			.product-image {
				width: 75%;
				margin: 1vh 1vw;
				border-radius: 5px;
				box-shadow: 2px 2px 1px 1px;
				transition: ease 0.3s;
			}
			.product-image:hover {
				transform: scale(1.05);
				transition: ease 0.3s;
				z-index: 10;
			}
		}
	}
}
