@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

.featured-product {
	@include mixins.flex-column;
	background: transparent;
	h2 {
		@include mixins.title-font;
		text-align: center;
	}

	ul {
		@include mixins.flex-column;
		@include mixins.md {
			@include mixins.flex-row;
		}
		max-width: 100vw;
		li > * {
			background: transparent;
		}
	}
}
