@mixin flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin product-label {
	color: ivory;
	border-bottom: 1px dotted black;
	text-shadow: 2px 2px black;
}
//font sizes

$font-small: 0.75rem;
$font-normal: 1.25rem;
$font-large: 2rem;

//colors
$card-bg: rgba(
	$color: black,
	$alpha: 0.5,
);
$input-bg: rgba(
	$color: ivory,
	$alpha: 0.85,
);

//animations

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@mixin fade-in {
	animation: fade-in 0.4s ease;
}
