@use "../../../sass/mixins.scss";
@use "../../../sass/variables.scss";

.cart {
	@include mixins.fade-in;
	@include mixins.flex-column;
	justify-content: flex-start;
	min-width: 60vw;
	width: 100%;
	@include mixins.md {
		width: 80%;
	}
	height: 90vh;
	overflow-x: hidden;
	@include mixins.lg {
		height: 80vh;
	}

	ul {
		@include mixins.flex-column;
		overflow-y: scroll;
		min-height: 40vh;
		max-width: 100vw;
		padding: 2rem;
	}
	ul::-webkit-scrollbar-button {
		display: none;
	}
	ul::-webkit-scrollbar {
		display: none;
	}
}
