@use "../../../sass/mixins.scss";

.cart-header {
	@include mixins.flex-column;
	width: 100%;
	text-align: center;
	padding: 1rem;
	h2 {
		@include mixins.title-font(0.4);
	}
	img {
		height: 10vh;
	}
}
