@use "../../../sass/mixins.scss";
@use "../../../sass/variables.scss";

.cart-footer {
	@include mixins.flex-row;
	justify-content: flex-end;
	width: 100%;
	padding: 1rem;
	form {
		@include mixins.flex-row;
		label {
			@include mixins.title-font;
			background: transparent;
		}
		.checkout {
			@include mixins.flex-row;
			overflow: hidden;
			background: rgba($color: variables.$add-btn, $alpha: 0.8);
			span {
				padding: 0.5rem;
			}
			i {
				font-size: variables.$font-large;
				padding: 0.5rem;
				color: variables.$primary-font;
			}
		}
	}
}
