@use "../sass/mixins.scss";

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	@include mixins.flex-row;
	background: rgba($color: black, $alpha: 0.7);
	width: 100vw;
	padding: 2vh 1vw;
	z-index: 100;
	section {
		@include mixins.flex-row;
		width: inherit;
		justify-content: space-between;
		ul {
			@include mixins.flex-row;
			list-style: none;
			li {
				margin: 0 2vw;
				.logo {
					height: 6vh;
				}
			}
		}
	}
}
