@use "../../../sass/mixins.scss";
@use "../../../sass/variables.scss";

.login {
	height: 75vh;

	@include mixins.xs {
		width: 100%;
		padding: 1rem;
	}
	@include mixins.lg {
		@include mixins.flex-column;
		padding: 2rem;
		width: 60vw;
	}

	.login-form {
		@include mixins.flex-column;
		height: 100%;
		width: 60%;
		overflow: hidden;
		@include mixins.xs {
			width: 100%;
		}
		figure {
			@include mixins.flex-row;
			justify-content: space-around;
			width: 100%;
			overflow: hidden;
			button {
				background: variables.$primary-font;
				padding: 1rem;
				font-weight: 600;
				border-radius: 10px;
			}
		}
	}
}
