@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

.cart {
	position: relative;
}

.cart::after {
	content: (attr(cart-count));
	position: absolute;
	background: red;
	color: ghostwhite;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	font-size: variables.$font-small;
}

.cart::before {
	content: (attr(cart-total));
	position: absolute;
	color: ghostwhite;
	bottom: 0;
	left: 0;
	height: 1rem;
	font-size: variables.$font-small;
}
