@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

.profile-btn {
	position: relative;
	width: 3rem;
	@include mixins.xs {
		height: 4rem;
	}
	@include mixins.sm {
		height: 3rem;
	}
}
.profile-btn::after {
	content: attr(username);
	font-size: variables.$font-small;
	width: 100%;
	text-align: center;
	position: absolute;
	color: variables.$primary-font;
	bottom: 0;
	left: 0;
}
