@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

.button-dropdown {
	display: none; //just here because component under construction
	position: relative;
	opacity: 0;
	z-index: 1000;
	transition: 0.4s ease-out;
	background: rgba($color: red, $alpha: 0.8);
	overflow: hidden;
	ul {
		position: absolute;
		height: 100%;
		li {
			height: 100%;
			font-size: variables.$font-small;
		}
	}
}

.button-dropdown:hover {
	opacity: 1;
	transition: 0.4s ease-out;
}
