@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

.megatron {
	@include mixins.flex-column;
	width: 80%;
	height: 80vh;
	margin-bottom: 10vh;
	.image-container {
		@include mixins.flex-column;
		@include mixins.title-font;
		@include mixins.fade-in;
		width: 100%;
		height: 100%;
		background: transparent;
		span {
			font-size: variables.$font-small;
		}
	}
}
