@use "./variables.scss";

@mixin flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin product-label {
	color: variables.$primary-font;
	border-bottom: 1px dotted black;
	text-shadow: 2px 2px black;
}
//font sizes

@mixin title-font {
	color: variables.$primary-font;
	font-size: variables.$font-xl;
	text-shadow: 2px 2px black;
	font-weight: 600;
}

// hovers

@mixin hover {
	opacity: 0.7;
	cursor: pointer;
	color: variables.$primary-font;
	transition: ease 0.3s;
}

//animations

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dropdown {
	from {
		height: 0%;
	}
	to {
		height: 100%;
	}
}

@mixin fade-in {
	animation: fade-in 0.4s ease;
}

@mixin dropdown {
	animation: dropdown 0.4s ease-out;
}

//MEDIA QUERIES

$breakpoints: (
	"xs": 0px,
	"sm": 480px,
	"md": 720px,
	"lg": 960px,
	"xl": 1200px,
);

//MEDIA QUERIES
@mixin xs {
	@media (min-width: map-get($breakpoints, "xs")) {
		@content;
	}
}

@mixin sm {
	@media (min-width: map-get($breakpoints, "sm")) {
		@content;
	}
}

@mixin md {
	@media (min-width: map-get($breakpoints, "md")) {
		@content;
	}
}

@mixin lg {
	@media (min-width: map-get($breakpoints, "lg")) {
		@content;
	}
}

@mixin xl {
	@media (min-width: map-get($breakpoints, "xl")) {
		@content;
	}
}
