//font sizes
$font-small: 0.75rem;
$font-normal: 1.25rem;
$font-large: 2rem;
$font-xl: 4rem;

//button colors
$cart-btn: orange;
$add-btn: seagreen;
$remove-btn: crimson;

//font colors
$primary-font: ghostwhite;
$secondary-font: #333;

$secondary-hover: black;
//background colors
$card-bg: rgba(
	$color: $secondary-font,
	$alpha: 0.7,
);
//!DEPRECIATED - input-bg
$input-bg: rgba(
	$color: black,
	$alpha: 0,
);

$cart-bg: rgba(
	$color: darkgrey,
	$alpha: 0.8,
);
