@use "../../../sass/mixins.scss";
@use "../../../sass/variables.scss";

.profile {
	@include mixins.flex-column;
	z-index: 1000;
	min-height: 60vh;
	min-width: 80vw;
	background: variables.$card-bg;
	color: variables.$primary-font;
	form {
		@include mixins.flex-column;

		h2 {
			font-size: variables.$font-large;
		}
	}
	button {
		color: variables.$primary-font;
		padding: 1rem;
		background: rgba($color: darkblue, $alpha: 0.7);
	}
}
