@use "../sass/mixins.scss";
@use "../index.scss";

.category {
	@include mixins.flex-column;
	min-height: 100vh;
	ul {
		@include mixins.flex-row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		li {
			@include index.xs {
				flex-basis: 50%;
			}
			@include mixins.lg {
				flex-basis: 33%;
			}
			@include mixins.xl {
				flex-basis: 20%;
			}
		}
	}
}
