@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

button {
	min-width: 2rem;
	min-height: 2rem;
	@include mixins.sm {
		min-width: 3rem;
		min-height: 3rem;
	}
	border: none;
	background: transparent;
	font-size: variables.$font-normal;
	border-radius: 5px;
	transition: ease 0.3s;
	overflow: hidden;
	i,
	span {
		color: variables.$primary-font;
	}
}
button:hover {
	@include mixins.hover;
	//@include mixins.radial-gradient;
}
