@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

.text-input {
	@include mixins.flex-column;
	width: 80%;
	padding: 1rem;
	margin: 1rem;
	font-size: variables.$font-normal;
	text-align: center;
	overflow: hidden;
	label {
		font-size: variables.$font-normal;
		width: 100%;
	}
	.login-input {
		border: none;
		border-radius: 5px;
		width: 100%;
		font-size: variables.$font-normal;
		text-align: center;
		padding: 10px;
	}
}
