@use "../../sass/mixins.scss";
@use "../../sass/variables.scss";

form {
	@include mixins.xs {
		@include mixins.flex-column;
	}
	@include mixins.lg {
		@include mixins.flex-row;
	}
	padding: 1vh 0;
	overflow: hidden;
	label {
		@include mixins.flex-row;
		font-size: variables.$font-large;
		padding: 5px;
		background: variables.$input-bg;
		color: variables.$primary-font;
		min-height: 3rem;
	}
	.product-input {
		background: transparent;
		margin: 0 5px;
		color: variables.$primary-font;
		min-width: 3rem;
		max-width: 3rem;
		min-height: 3rem;
		font-size: variables.$font-large * 1.2;
		text-align: center;
		border: none;
		//border: 0.5px white solid;
		//border-radius: 5px;
	}
	.product-btns {
		@include mixins.xs {
			@include mixins.flex-row;
		}
		.btn-container {
			@include mixins.flex-column;
			button {
				min-height: 1rem;
			}
			.add-btn {
				background: transparent;
			}
			.remove-btn {
				background: transparent;
			}
		}

		.to-cart-btn {
			background: transparent;
			color: variables.$primary-font;
			text-shadow: 1px 1px black;
			font-size: variables.$font-normal;
			transition: 0.4s ease;
		}
		.to-cart-btn:hover i {
			transform: scale(1.3);
			transition: 0.4s ease;
		}
	}
}
