@use "../../sass/mixins.scss";

.module {
	@include mixins.flex-column;
	position: fixed;
	width: 100vw;
	min-height: 100vh;
	height: auto;
	background: rgba($color: black, $alpha: 0.3);
	z-index: 100;
	section {
		border-radius: 5px;
		z-index: 1000;
	}
}
