@use "../../../sass/mixins.scss";

.cart {
	@include mixins.fade-in;
	@include mixins.flex-column;
	background: rgba($color: darkgrey, $alpha: 0.8);
	max-width: 80vw;
	height: 80vh;
	ul {
		min-height: inherit;
		height: 60%;
		overflow-y: scroll;
	}
}
