@use "../../../sass/mixins.scss";

.cart {
	@include mixins.flex-column;
	background: rgba($color: darkgrey, $alpha: 0.8);
	max-width: 80vw;
	min-height: 90vh;
	ul {
		min-height: inherit;
		height: 70%;
		overflow-y: scroll;
	}
}
